.cover {
  margin: 48px auto 20px;
  position: relative;
  background-image: url(/images/zocalo.png);
  background-position: center;
  background-repeat: no-repeat;
  height: 254px;
  width: 100%;
}
.cover__layer {
  display: block;
  z-index: 0;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  height: 254px;
  width: 100%;
}
.cover__content {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  margin: 0 16px 0;
  top: 20px;
  flex-direction: column;
  width: 288px;
}
.cover__title {
  font-size: 32px;
  line-height: 35px;
  font-weight: bold;
}
.cover__subtitle {
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
}
.cover__button {
  border: 0;
  border-radius: 5px;
  margin: 8px auto 0;
  background-color: #0278fe;
  height: 48px;
  width: 288px;
  font-size: 18px;
  color: #fff;
}
