.cover {
  border: 1px solid white;
}
.cover__content {
  border: 1px solid white;
}
.cover__title {
  border: 1px solid white;
}
.cover__subtitle {
  border: 1px solid white;
}
.cover__button {
  border: 1px solid white;
}
