.intro {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  margin: 44px auto 0;
}
.intro__title {
  margin: 0;
  font-size: 35px;
  line-height: 35px;
  text-align: left;
  font-weight: bold;
}
.intro__subtitle {
  margin-top: 10px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 400;
  text-align: left;
}
.intro__quote {
  margin: auto;
  text-align: right;
  font-size: 24px;
  line-height: 34px;
  font-weight: 100;
}
.intro__text {
  margin: auto;
  text-align: justify;
  font-size: 16px;
  font-weight: 400;
  line-height: 163%;
}

@media screen and (min-width: 768px) {
  .intro {
    width: 720px;
  }
  .intro__title {
    font-size: 54px;
    line-height: 58px;
    margin-bottom: 15px;
  }
  .intro__subtitle {
    margin-bottom: 15px;
  }
  .intro__quote {
    margin: 0 auto;
  }
  .intro__text {
    margin: 42px auto 64px;
  }
}
@media screen and (min-width: 1280px) {
  .intro {
    width: 1017px;
  }
  .intro__subtitle-container {
    width: 722px;
  }
  .intro__subtitle {
  }
  .intro__text {
    margin: 42px 0 64px;
    width: 722px;
  }
}
