.places {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 62px auto 0;
}
.places__container {
  margin-top: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #4a4a4a;
}
.place__title {
  width: 288px;
  font-size: 32px;
  font-weight: bold;
  line-height: 35px;
  margin: 0 auto;
}
.place__photo-description {
  font-size: 12px;
  line-height: auto;
  color: #aaa;
  margin-top: 30px;
}
.place__photo {
  height: 320px;
  width: 100%;
}
.place__description {
  font-size: 16px;
  line-height: 163%;
  text-align: left;
}
.button {
  display: flex;
  justify-content: center;
  margin: auto;
}
.place__button {
  margin: 8px auto 0;
  background-color: #0278fe;
  height: 48px;
  width: 288px;
  font-size: 14px;
  color: #fff;
  border: 0;
  border-radius: 5px;
}

@media screen and (min-width: 768px) {
  .places__container {
    display: grid;
    border: 1px solid white;
    grid-template-columns: repeat(2, 1fr);
    gap: 28px;
    grid-template-rows: auto;
    margin: 0 24px 31px;
  }
  .place__title {
    font-size: 42px;
    line-height: 46px;
    border: 1px solid white;
  }
  .place__description {
    text-align: justify;
  }
  .place__photo {
    margin-left: 10px;
    height: 320px;
    width: 320px;
  }
  .place__button {
    width: 320px;
    height: 48px;
  }
}
@media screen and (min-width: 1280px) {
  .place__title {
    font-size: 72px;
    line-height: normal;
    width: 484px;
  }
  .place__photo {
    margin-left: 50px;
    height: 460px;
    width: 460px;
  }
}
