.places {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 62px auto 0;
}
.places__container {
}
.place__title {
  width: 288px;
  font-size: 32px;
  font-weight: bold;
  line-height: 35px;
  margin: 0 auto;
}
.place__photo-description {
  font-size: 12px;
  line-height: auto;
  color: #aaa;
  margin-top: 30px;
}
.place__photo {
  height: 320px;
  width: 100%;
}
.place__description {
  font-size: 16px;
  line-height: 163%;
  text-align: left;
}
.button {
  display: flex;
  justify-content: center;
  margin: auto;
}
.place__button {
  margin: 8px auto 0;
  background-color: #0278fe;
  height: 48px;
  width: 288px;
  font-size: 14px;
  color: #fff;
  border: 0;
  border-radius: 5px;
}
